.collaborativeLearningSec3 {
  background-color: $color-blue;
  padding: 3rem 0 5rem 0;

  position: relative;

  &__circle1 {
    position: absolute;
    left: -42rem;

    max-width: 105rem;
    width: 100%;
    height: 105rem;
    border-radius: 50%;

    background-color: white;
    opacity: 0.1;
  }

  &__circle2 {
    position: absolute;
    top: 25rem;
    left: -22rem;

    width: 60rem;
    height: 60rem;
    border-radius: 50%;

    background-color: white;
    opacity: 0.1;
  }

  &__title {
    color: $color-white;
  }

  &__content {
    margin-top: 4rem;

    position: relative;
    z-index: 4;
  }

  &__col {
    display: grid;
    align-items: center;

    @include respond(phone) {
      grid-template-columns: 1fr !important;
      justify-content: center;
      margin-left: 0 !important;
    }

    &--mobile {
      @include respond(phone) {
        display: block;
        margin: 0 auto;
      }
    }

    &--mob1 {
      grid-template-columns: 20rem 0.6fr;
      margin-left: 5%;

      @include respond(tab-port) {
        grid-template-columns: 20rem 0.8fr;
      }
    }

    &--mob2 {
      grid-template-columns: 20rem 0.8fr;
      margin-left: 25%;

      @include respond(tab-port) {
        grid-template-columns: 20rem 1fr;
      }

      @include respond(phone) {
        margin-top: 6rem;
      }
    }

    &--mob3 {
      grid-template-columns: 20rem 0.75fr;
      margin-top: 6rem;
      margin-left: 42.5%;

      @include respond(tab-port) {
        grid-template-columns: 20rem 0.95fr;
      }
    }
  }

  &__info {
    color: $color-white;
    @include respond(phone) {
      text-align: center;
    }
  }

  &__name {
    font-size: $font-size-large;
    font-weight: bold;
    letter-spacing: 1px;
  }

  &__text {
    font-size: $font-size-medium;
    margin-top: 2rem;
  }
}
