.footer {
  background-color: $color-black;
  padding: 4rem 0;
  color: $color-grey-4;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__title {
    color: $color-white;

    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }

  &__logo {
    font-size: $font-size-larger;
    display: flex;
    align-items: center;

    @include respond(phone) {
      justify-content: center;
    }
  }

  &__logoicon {
    width: 4rem;
    height: 100%;
    fill: $color-white;
    margin-right: 1rem;
  }

  &__text {
    margin-top: 1rem;
    font-size: $font-size-normal;
  }

  &__social {
    display: flex;

    font-size: $font-size-largest;

    li {
      margin-left: 1.5rem;

      a {
        color: $color-white;
      }
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__middle {
    margin: 5rem 0 1rem 0;

    .link {
      font-size: $font-size-normal;
      font-weight: bold;
      margin-top: 2rem;

      @include respond(phone) {
        margin-top: 3rem;
      }

      &:not(:last-child) {
        margin-right: 2rem;
      }

      &__title {
        color: $color-grey-2;
        margin-bottom: 3rem;
      }

      &__list {
        li {
          margin-bottom: 1.2rem;

          a {
            color: $color-grey-4;
            font-weight: normal;
          }
        }
      }
    }
  }

  &__buttons {
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__btn {
    border: 1px solid $color-grey-2;
    background-color: transparent;
    margin: 0;

    &:first-child {
      margin: 1rem 0;

      @include respond(phone) {
        margin: 3rem 0 1rem 0;
      }
    }

    @include respond(phone) {
    }
  }

  &__language {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;

    position: relative;
  }

  &__arrow {
    position: absolute;
    right: 0;
    display: flex;
    font-size: $font-size-normal;
  }

  &__flag {
    width: 2rem;
    height: 100%;
    margin-right: 0.5rem;
  }

  &__select {
    border: none;
    color: $color-grey-4;
    background-color: transparent;
    appearance: none;
    padding: 0.5rem 1.4rem 0.5rem 0.5rem;

    position: relative;
    z-index: 2;

    option {
      color: $color-black;
    }
  }

  &__bottom {
    border-top: 1px solid $color-grey-2;
    @include flex-center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: $font-size-small;

    .info {
      display: flex;
      margin-top: 1rem;
      margin-right: 2rem;

      @include respond(tab-port) {
        margin-top: 3rem;
      }

      &__text {
        display: flex;
        align-items: center;

        &--left {
          margin-right: 6rem;

          @include respond(tab-port) {
            margin-right: 3.5rem;
          }

          @include respond(phone) {
            margin-right: 2rem;
          }
        }

        &--right {
          margin-right: 5rem;
        }
      }

      &__privacy {
        display: flex;

        &--line {
          padding: 0 1rem;
        }

        &--term {
          display: flex;
        }
      }
    }
  }

  &__icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }
}
