.webConferencingSec2 {
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    align-items: center;

    width: 80%;
    margin: 0 auto;
  }

  &__title {
    font-size: $font-size-extra-largest;
    font-family: $font-primary-bold;
  }

  &__right {
    display: flex;
    justify-content: center;
  }
}
