.resourcesSec3 {
  padding: 3rem 0;

  &__content {
    display: flex;

    &:nth-child(even) {
      flex-direction: row-reverse;

      @include respond(tab-port) {
        flex-direction: column;
        margin-top: 4rem;
      }
    }

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__left {
    flex: 1;
  }

  &__right {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > * {
      width: 80%;
      margin: 0 auto;
    }
  }

  &__title {
    margin-top: 0.5rem;
    font-size: $font-size-larger;
    font-weight: bold;

    @include respond(tab-port) {
      margin-top: 1.5rem;
    }
  }

  &__text {
    margin: 2rem auto;
    font-size: $font-size-normal;
  }

  &__video {
    height: 41rem;
    object-fit: cover;
  }
}
