.multipleDevicesSec3 {
  overflow: hidden;

  &__content {
    display: flex;
    align-items: center;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__left {
    flex: 1;

    @include respond(tab-port) {
      margin-right: 2rem;
    }

    @include respond(phone) {
      text-align: center;
    }
  }

  &__title {
    font-size: $font-size-largest;
    font-weight: bold;
  }

  &__text {
    width: 80%;

    @include respond(phone) {
      width: 100%;
    }
  }

  &__right {
    flex: 1;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 6rem;
      right: -20rem;
      z-index: -1;

      width: 46%;
      height: 70%;
      transform: rotate(45deg);

      border-radius: 3rem;
      background-image: linear-gradient(to top, #4480ff, #b9cfff);
    }

    &::after {
      content: '';
      position: absolute;
      top: 6rem;
      right: -6rem;
      z-index: -1;

      width: 30rem;
      height: 30rem;

      border-radius: 50%;
      background-color: $color-white;
      opacity: 0.2;
    }
  }

  &__img {
    width: 95%;

    @include respond(phone) {
      width: 100%;
    }
  }
}
