.layoutPhoto {
  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    display: flex;
    align-items: center;

    @include respond(tab-port) {
      position: static;
    }
  }

  &__right {
    padding-right: 50%;

    @include respond(tab-port) {
      padding: 0;
    }
  }

  &__left {
    padding-left: 50%;

    @include respond(tab-port) {
      padding: 0;
    }
  }
}
